*{
  margin: auto;
}
body {
  overflow-x:hidden ;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom Fonts Import */

@font-face {
  font-family: 'Noir Pro Bold';
  src: local('NoirPro'), url('./assets/Fonts/noir-pro-2023-11-27-05-25-58-utc/NoirPro-Bold.otf')
  format('opentype');
}

@font-face {
  font-family: 'Noir Pro Medium';
  src: local('NoirPro'), url('./assets/Fonts/noir-pro-2023-11-27-05-25-58-utc/NoirPro-Medium.otf')
  format('opentype');
}

@font-face {
  font-family: 'Noir Pro Light';
  src: local('NoirPro'), url('./assets/Fonts/noir-pro-2023-11-27-05-25-58-utc/NoirPro-Light.otf')
  format('opentype');
}

@font-face {
  font-family: 'Noir Pro Regular';
  src: local('NoirPro'), url('./assets/Fonts/noir-pro-2023-11-27-05-25-58-utc/NoirPro-Regular.otf')
  format('opentype');
}

@font-face {
  font-family: 'NokiaExpanded Bold';
  src: local('NokiaExpanded'), url('./assets/Fonts/nokia-expanded-2023-11-27-05-18-41-utc/NokiaExpanded-Bold.otf') 
  format('opentype');
}

@font-face {
  font-family: 'Nord Book';
  src: local('Nord'), url('./assets/Fonts/nord-minimal-display-headline-logo-typeface-2023-11-27-05-26-56-utc/OTF/Nord-Book.otf') 
  format('opentype');
}

@font-face {
  font-family: 'Nord Bold';
  src: local('Nord'), url('./assets/Fonts/nord-minimal-display-headline-logo-typeface-2023-11-27-05-26-56-utc/OTF/Nord-Bold.otf') 
  format('opentype');
}

@font-face {
  font-family: 'Nord Medium';
  src: local('Nord'), url('./assets/Fonts/nord-minimal-display-headline-logo-typeface-2023-11-27-05-26-56-utc/OTF/Nord-Medium.otf') 
  format('opentype');
}

@font-face {
  font-family: 'Just Sans Light';
  src: url('./assets/Fonts/just-sans-clean-modern-minimal-geometric-typeface-2023-11-27-04-59-22-utc/OTFs/JUST\ Sans\ Light.otf')
  format('opentype');
}

@font-face {
  font-family: 'Just Sans Medium';
  src: url('./assets/Fonts/just-sans-clean-modern-minimal-geometric-typeface-2023-11-27-04-59-22-utc/OTFs/JUST\ Sans\ Medium.otf')
  format('opentype');
}

@font-face {
  font-family: 'Just Sans Regular';
  src: url('./assets/Fonts/just-sans-clean-modern-minimal-geometric-typeface-2023-11-27-04-59-22-utc/OTFs/JUST\ Sans\ Regular.otf')
  format('opentype');
}

/*--------------------------------------------------------------------------------  */

@media only screen and (max-width: 480px) {
  .page1, .page2 .page3 .page4 {
    width: 100% !important;
    height: 100% !important;
    margin: 0% !important;
    padding: 0% !important;
    overflow-x: hidden !important;
  }
  
}