.profile {
    background-color: #333; /* Dark grey background */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #fff; /* White text color */
  }
  
  .apod-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust grid size as needed */
    gap: 20px;
    margin-top: 20px;
  }
  
  .apod-card {
    background-color: #444; /* Slightly darker background for cards */
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    overflow: hidden; /* Hide image overflow */
    position: relative;
  }
  
  .apod-card img {
    width: 100%;
    height: 200px; /* Adjust image height as needed */
    object-fit: cover;
    border-radius: 10px 10px 0 0; /* Rounded top corners for image */
    position: relative;
    z-index: 2; /* Ensure image is above bottom text */
  }
  
  .apod-card h2 {
    margin-top: 10px;
    font-weight: normal;
  }
  
  .apod-card p {
    margin-top: 5px;
    font-size: 0.9rem; /* Slightly smaller font for date and copyright */
  }
  