.map-container {
  background-color: #1c1c1c;
  height: 100vh;
}

.map {
  height: 80vh;
}

.footer {
  display: flex;
  gap: 40px;
  background-color: #e7feff ;
  height: 20vh;
}

.info-1 {
  font-family: 'Noir Pro Regular';
}

.info-2 {
  font-family: 'Noir Pro Regular';
}

.info-3 {
  font-family: 'Noir Pro Regular';
  text-align: center;
}

li {
  display: flex;
  gap: 10px;
}

p {
  font-family: "Just Sans Light";
}